@media only screen and (max-device-width: 768px) {
    #l1 {
        font-size: 18px;
    }
    #linksHolder p {
        font-size: 12px;
    }
    #linksHolder {
        width: 30vw;
    }
    #profilePicHolder {}
    #aboutText {
        width: 44vw;
    }
    #hello {
        top: 17vh;
    }
    #aboutText p {
        font-size: 2.2vw;
    }
    #stackImgHolder {
        left: 15vw;
        width: 70vw;
    }
    .projectImgHolder {
        height: 28vh;
    }
    .mapText {
        height: 26vh;
    }
    .mapText h3 {
        margin-bottom: 1vh;
    }
    .textHolder {
        top: 2vh;
        height: 22vh;
    }
    .textHolder p {
        font-size: 1.5vw;
        margin: 0.5vh;
    }
    .open {
        top: 62vh;
    }
    #mapAppSection {
        height: 95vh;
    }
    #socialSection {
        height: 75vh;
    }
    #imageSection {
        height: 75vh;
    }
    #nergySection {
        height: 70vh;
    }
    .linkTo {
        height: 5vh;
    }
    footer div {
        font-size: 2vw;
    }
    .center {
        top: 10vh;
        font-size: 4vw;
    }
}

@media only screen and (max-device-width: 450px) {
    .stackHeader {
        font-size: 10vw;
    }
    #header2 {
        top: -8vh;
    }
    .projectHeader {
        font-size: 8vw;
        margin: 0;
    }
    #linksHolder {
        width: 50vw;
    }
    #profilePicHolder {
        width: 50vw;
        left: 25vw;
    }
    .moveProfilePic {
        left: 45vw !important;
    }
    #hello {
        top: 0vh;
        font-size: 16vw;
        left: 29vw;
    }
    #aboutText {
        width: 92vw;
        top: 53vh;
        left: 4vw;
    }
    #aboutText p {
        font-size: 4vw;
    }
    .stackHeader {
        font-size: 10vw;
    }
    #stackImgHolder {
        left: 12vw;
        width: 76vw;
    }
    .open {
        width: 20vw;
        left: 40vw;
    }
    .clickedElement {
        font-size: 3vw;
    }
    #link1 {
        left: 28vw;
    }
    #link2 {
        left: 58vw;
    }
    .linkTo {
        height: 4vh;
        width: 12vw;
    }
    fieldset input {
        height: 2vh;
        width: 4vw;
    }
    fieldset {
        width: 88vw;
        left: 2vw;
    }
    input::placeholder {
        font-size: 2.2vw;
    }
    textarea::placeholder {
        font-size: 2vw;
    }
    .button {
        font-size: 2vw;
    }
    label[for="name"] {
        font-size: 2vw;
        top: 3vh;
    }
    label[for="email"] {
        font-size: 2vw;
        top: 3vh;
        margin-left: -1.5vw;
    }
    label[for="subject"] {
        font-size: 2vw;
        top: 3vh;
        margin-left: -1.5vw;
    }
    footer div {
        font-size: 3.5vw;
    }
    #contact h4 {
        left: 10vw;
        font-size: 4vw;
    }
    .textHolder p {
        font-size: 3vw;
    }
    #m1 {
        background: url("/pin1.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: local;
    }
    #s1 {
        background: url("/dog1.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: local;
    }
    #i1 {
        background: url("/img1.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: local;
    }
    #n1 {
        background: url("/petition1.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: local;
    }
    #blackImg {
        background-color: black;
        background-image: radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px), radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px), radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px), radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
        background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
        background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
        /* background: url("/4.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;

        background-position: center;

        background-attachment: fixed; */
    }
    #stackImgHolder {
        left: 5vw;
        width: 90vw;
    }
    #stackImgHolder span {
        height: 5vh;
        width: 9vw;
    }
    .projectImgHolder {
        width: 100vw;
        left: 0vw;
        height: 37vh;
        top: 18vh;
    }
    .mapText {
        top: 55vh;
        left: 0vw;
        width: 100vw;
        height: 28vh;
    }
    .open {
        display: none;
    }
    .textHolder {
        width: 90vw;
        left: 5vw;
        height: 35vh;
        top: 0;
    }
    .textHolder h3 {
        font-size: 7vw;
        margin-top: 0vh;
    }
    .textHolder p {
        font-size: 4vw;
    }
    #smallText {
        font-size: 3vw;
    }
    #mapAppSection {
        height: 105vh;
    }
    #socialSection {
        height: 85vh;
    }
    #imageSection {
        height: 85vh;
    }
    #nergySection {
        height: 85vh;
    }
    #subject {
        left: 78%;
        width: 16%;
    }
    #email {
        left: 45%;
        width: 16%;
    }
    #name {
        left: 11%;
        width: 16%;
    }
    label[for="subject"], label[for="email"] {
        margin-left: -3.5vw;
    }
    .mapText {
        background-color: #f5f5f5;
    }
    .boxShadow {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.58);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.58);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.58);
    }
}