body {
    margin: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

.headFont {
    /* font-family: 'Righteous', cursive; */
    font-weight: bold;
}

a {
    text-decoration: none;
    color: rgb(139, 103, 41);
    /* color: rgb(59, 94, 54); */
}

a:hover {
    color: rgb(139, 103, 41);
}

/* font-family: 'Convergence', sans-serif; */

#projects {
    position: absolute;
    top: -50px;
}

/* /////// navigation /////// */

#header {
    position: fixed;
    z-index: 5;
    top: 0px;
    height: 7vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 10;
}

#l1 {
    color: white;
    margin-left: 2vw;
    font-size: 1.7vw;
    cursor: pointer;
}

#l1:hover {
    color: rgb(139, 103, 41);
}

#linksHolder {
    margin-right: 2vw;
    display: flex;
    justify-content: space-between;
    width: 22vw;
}

#linksHolder p {
    color: white;
    text-decoration: none;
    font-size: 1.2vw;
    cursor: pointer;
}

#linksHolder p:hover {
    color: rgb(139, 103, 41);
}

#blackImg {
    position: absolute;
    top: 7vh;
    height: 93vh;
    width: 100vw;
    background: url("/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position-x: center; */
    background-position: center;
    /* background-attachment: scroll; */
    background-attachment: fixed;
}

/* /////// about section /////// */

.aboutSection {
    height: 93vh;
    width: 100vw;
    position: relative;
    top: 7vh;
    overflow-x: hidden;
    /* background-color: #f5f5f5; */
}

#profilePicHolder {
    position: absolute;
    top: 15vh;
    left: 13vw;
    width: 38vw;
    height: 44vh;
    z-index: 2;
    overflow: hidden;
    border-radius: 20px;
    background-image: url("/myPic.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: left 1.5s ease;
}

#aboutText {
    position: absolute;
    top: 23vh;
    left: 8vw;
    width: 54vw;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.show {
    opacity: 1 important;
}

.hide {
    display: none;
}

.aboutSection h3 {
    font-size: 12vw;
    color: white;
    position: absolute;
    top: 5vh;
    left: 54vw;
    transition: left 1.5s ease;
}

#aboutText p {
    font-size: 1.8vw;
    line-height: 180%;
    font-weight: 600;
    color: white;
}

/* /////////// stackSection ////////// */

#stackSection {
    position: relative;
    top: 7vh;
    height: 10vh;
}

.stackHeader {
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 14vh;
    text-align: center;
    vertical-align: middle;
    line-height: 14vh;
    font-size: 3vw;
    font-weight: 600;
}

#stackImgHolder {
    position: absolute;
    top: 36vh;
    left: 20vw;
    opacity: 0;
    width: 60vw;
    height: 40vh;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: left 3s ease-in;
    transition: opacity 2s ease;
}

span img {
    max-width: 100%;
    max-height: 100%;
}

.inFromLeft {
    left: 20vw important;
    opacity: 1 important;
}

.inFromRight {
    position: absolute;
    right: -20vw;
}

#stackImgHolder span {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    padding: 1vh;
    height: 7vh;
    width: 7vw;
    margin: 0.5vw;
}

@keyframes createBox {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.makeBigger {
    animation: createBox 1.5s;
}

/* #stackImgHolder span:hover {
    animation: createBox 1.5s;
} */

#express img, #aws img, #atom img, #handlebars img {
    max-width: 130%;
    max-height: 130%;
}

#node img {
    max-width: 140%;
    max-height: 140%;
}

#webpack img {
    max-width: 170%;
    max-height: 170%;
}

/* ///////// projectsSection ///////// */

#header2 {
    top: 0vh;
}

.notVisible {
    display: none;
}

#mapAppSection {
    position: relative;
    top: 90vh;
    height: 117vh;
    text-align: center;
}

#m1 {
    background: url("/pin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    /* background-attachment: scroll; */
    background-attachment: local;
}

#s1 {
    background: url("/dog.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    /* background-attachment: scroll; */
    background-attachment: local;
}

#i1 {
    background: url("/img.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    /* background-attachment: scroll; */
    background-attachment: local;
}

#n1 {
    background: url("/petition.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    /* background-attachment: scroll; */
    background-attachment: local;
}

.projectImgHolder {
    width: 53vw;
    height: 58vh;
    position: absolute;
    top: 24vh;
    left: 23.5vw;
}

.projectImgHolder img {
    width: 100%;
    height: 100%;
}

.mapText {
    width: 53vw;
    height: 58vh;
    position: relative;
    top: 24vh;
    left: 23.5vw;
    background-color: rgba(183, 176, 162, 0.6);
    transition: zIndex 1s ease-in-out;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mapText p {
    font-weight: 300;
    font-size: 1.2vw;
}

#smallText {
    font-size: 1vw;
}

.textHolder {
    position: absolute;
    top: 9.5vh;
    width: 36vw;
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.center {
    text-align: center;
    width: 100%;
    font-size: 2vw;
    position: absolute;
    top: 13vh;
    /* left: 42vw; */
    font-weight: 600;
}

.projectHeader {
    /* font-size: 2vw;
    position: absolute;
    top: 13vh;
    /* left: 42vw; */
}

.open {
    width: 8vw;
    height: 4vh;
    position: absolute;
    top: 85vh;
    left: 46vw;
    display: flex;
    font-size: 2vw;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    cursor: pointer;
}

.open:hover {
    -webkit-box-shadow: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    box-shadow: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
}

.clickedElement {
    font-size: 1.2vw;
    font-weight: 600;
}

.clickedElement:hover {
    color: rgb(139, 103, 41);
}

#socialSection {
    position: relative;
    top: 70vh;
    height: 92vh;
}

#imageSection {
    position: relative;
    top: 70vh;
    height: 92vh;
}

#nergySection {
    position: relative;
    top: 70vh;
    height: 100vh;
}

#contact {
    position: relative;
    top: 86vh;
    height: 70vh;
}

/* ///////////// contact //////////////// */

fieldset {
    /* position: absolute;
    top: 24vh;
    width: 60vw;
    height: 28vh;
    left: 20vw;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr;
    grid-template-rows: 1fr 4fr 1fr; */
}

#header3 {
    top: 0vh;
}

#contact h4 {
    position: absolute;
    top: 12vh;
    left: 29vw;
    font-size: 1.6vw;
}

fieldset {
    position: relative;
    top: 24vh;
    width: 60vw;
    height: 32vh;
    left: 20vw;
    padding-top: 2vh;
    /* display: flex;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr;
    grid-template-rows: 1fr 4fr 1fr; */
}

/* ///////////////grid elements/////////// */

label[for="name"] {
    position: absolute;
    top: 2vh;
    left: 2%;
}

label[for="email"] {
    position: absolute;
    top: 2vh;
    left: 38%;
}

label[for="subject"] {
    position: absolute;
    top: 2vh;
    left: 70%;
}

#name {
    position: absolute;
    top: 2vh;
    left: 12%;
    width: 18%;
}

#email {
    position: absolute;
    top: 2vh;
    left: 46%;
    width: 18%;
}

#subject {
    position: absolute;
    top: 2vh;
    left: 80%;
    width: 18%;
}

textarea {
    position: absolute;
    top: 10vh;
    left: 10%;
    width: 80%;
    height: 15vh;
    /* margin-top: 1vh; */
}

fieldset label {
    font-size: 1.4vw;
    /* margin-left: 2vw;
    margin-bottom: 2.5vh; */
}

fieldset input {
    /* margin-left: 2vw; */
    height: 3vh;
}

input::placeholder {
    font-size: 1vw;
    padding-left: .3vw;
}

textarea::placeholder {
    font-size: 1vw;
    padding-left: .3vw;
}

.button {
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    cursor: pointer;
    width: 20%;
    height: 4vh;
    border-radius: 10px;
    /* margin-left: 20vw; */
    font-size: 1.2vw;
    /* margin-top: 2vh; */
    font-weight: 600;
    position: absolute;
    top: 80%;
    left: 40%;
}

.button:hover {
    color: rgb(139, 103, 41);
    -webkit-box-shadow: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    box-shadow: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
}

.linkTo {
    border-radius: 20px;
    padding: 1vh;
    height: 7vh;
    width: 8vw;
    margin: 0.5vw;
    overflow: hidden;
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
}

.linkTo:hover {
    -webkit-box-shadow: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    box-shadow: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
}

#link1 {
    position: absolute;
    top: 64vh;
    left: 37vw;
}

#link1 img {
    width: 100%;
    height: 100%;
}

#link2 img {
    width: 130%;
    height: 130%;
}

#link2 {
    position: absolute;
    top: 64vh;
    left: 53vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ///////////// footer //////////// */

footer {
    height: 7vh;
    background-color: black;
    position: relative;
    top: 100vh;
    display: flex;
    align-items: flex-end;
}

footer div {
    color: white;
    font-size: 1.2vw;
    margin-left: 2vw;
    margin-bottom: 2vh;
}

/* /////// animations //////// */

.moveProfilePic {
    left: 60vw !important;
}

.moveHello {
    left: 100vw !important;
}

.movePicLeft {
    left: -23vw;
}

.moveTextLeft {
    left: 39vw;
}

.movePicRight {
    left: 70vw;
}

.moveTextRight {
    left: 8vw;
}

.boxShadow {
    -webkit-box-shadow: 5px 5px 8px -5px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 5px 5px 8px -5px rgba(0, 0, 0, 0.58);
    box-shadow: 5px 5px 8px -5px rgba(0, 0, 0, 0.58);
}

.inAndOut {
    -webkit-transition: left 1s ease-in-out;
    -moz-transition: left 1s ease-in-out;
    -o-transition: left 1s ease-in-out;
    transition: left 1s ease-in-out;
}