body {
    margin: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-family: 'Andika', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(59, 94, 54);
}

a:hover {
    color: rgb(200, 108, 74);
}

/* font-family: 'Convergence', sans-serif; */

/* /////// navigation /////// */

#header {
    position: fixed;
    top: 0px;
    height: 7vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 10;
}

#myName {
    color: white;
    margin-left: 2vw;
    font-size: 1.7vw;
}

#linksHolder {
    margin-right: 2vw;
    display: flex;
    justify-content: space-between;
    width: 30vw;
}

#linksHolder p {
    color: white;
    text-decoration: none;
    font-size: 1.4vw;
    cursor: pointer;
}

#linksHolder p:hover {
    color: rgb(200, 108, 74);
}

#blackImg {
    position: absolute;
    top: 7vh;
    height: 93vh;
    width: 100vw;
    background: url("/black.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}

/* /////// about section /////// */

.aboutSection {
    height: 32vh;
    width: 100%;
    position: relative;
    top: 44vh;
    background-color: #f5f5f5;
}

#profilePicHolder {
    position: absolute;
    top: -6vh;
    left: 4vw;
    width: 37.5vw;
    height: 44.4vh;
    overflow: hidden;
    border-radius: 20px;
}

#profilePicHolder img {
    height: 100%;
    width: 100%;
}

#aboutText {
    position: absolute;
    top: 4vh;
    right: 4vw;
    width: 47vw;
}

/* /////////// stackSection ////////// */

#stackSection {
    position: relative;
    top: 68vh;
    height: 30vh;
}

.stackHeader {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 14vh;
    text-align: center;
    vertical-align: middle;
    line-height: 14vh;
    font-size: 3vw;
    font-family: 'Rubik Mono One', sans-serif;
}

#stackImgHolder {
    position: absolute;
    top: 14vh;
    width: 100vw;
    height: 30vh;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#stackImgHolder img {
    border-radius: 20px;
    height: 10vh;
    width: 10vw;
    margin: 0.5vw;
    -webkit-box-shadow: 9px 7px 12px -4px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 9px 7px 12px -4px rgba(0, 0, 0, 0.58);
    box-shadow: 9px 7px 12px -4px rgba(0, 0, 0, 0.58);
}

#stackImgHolder img:hover {
    -webkit-box-shadow: inset 10px 10px 24px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 10px 10px 24px -6px rgba(0, 0, 0, 0.75);
    box-shadow: inset 10px 10px 24px -6px rgba(0, 0, 0, 0.75);
}

/* ///////// projectsSection ///////// */

#mapAppSection {
    position: relative;
    top: 95vh;
    height: 125vh;
}

.projectImgHolder {
    width: 66vw;
    height: 58vh;
    position: absolute;
    top: 20vh;
    left: 17vw;
}

.projectImgHolder img {
    width: 100%;
    height: 100%;
}

.mapText {
    width: 66vw;
    height: 58vh;
    position: absolute;
    top: 20vh;
    left: 17vw;
    /* background-color: rgba(156, 159, 180, 0.81); */
    background-color: rgba(149, 172, 173, 0.7);
    transition: zIndex 1s ease-in-out;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mapText p {
    font-size: 1.5vw;
}

.mapText h3 {
    font-size: 2vw;
}

.open {
    width: 10vw;
    position: absolute;
    top: 78vh;
    left: 45vw;
    display: flex;
    font-size: 1.7vw;
}

.clickedElement {
    cursor: pointer;
}

.clickedElement:hover {
    color: rgb(121, 7, 7);
}

#socialSection {
    position: relative;
    top: 70vh;
    height: 100vh;
}

#imageSection {
    position: relative;
    top: 70vh;
    height: 100vh;
}

#nergySection {
    position: relative;
    top: 70vh;
    height: 100vh;
}

#contact {
    position: relative;
    top: 70vh;
    height: 40vh;
}

/* ///////////// contact //////////////// */

form {}

fieldset {
    position: relative;
    top: 24vh;
    width: 48vw;
    height: 30vh;
    left: 5vw;
    /* display: flex;
    flex-direction: column; */
}

fieldset label {
    font-size: 1.6vw;
}

fieldset input {
    /* margin-left: 2vw; */
    height: 3vh;
}

.button {
    -webkit-box-shadow: 9px 7px 12px -4px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 9px 7px 12px -4px rgba(0, 0, 0, 0.58);
    box-shadow: 9px 7px 12px -4px rgba(0, 0, 0, 0.58);
    cursor: pointer;
    width: 8vw;
    height: 4vh;
    border-radius: 10px;
    margin-left: 20vw;
    font-size: 1.6vw;
}

.button:hover {
    background-color: black;
    color: white;
}

textarea {
    /* position: absolute;
    top: 15vh;
    left: 5vw; */
    width: 47.3vw;
    height: 15vh;
    margin-top: 3vh;
}

.linkTo {
    border-radius: 20px;
    height: 10vh;
    width: 10vw;
    margin: 0.5vw;
    -webkit-box-shadow: 9px 7px 12px -4px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 9px 7px 12px -4px rgba(0, 0, 0, 0.58);
    box-shadow: 9px 7px 12px -4px rgba(0, 0, 0, 0.58);
}

.linkTo:hover {
    -webkit-box-shadow: inset 10px 10px 24px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 10px 10px 24px -6px rgba(0, 0, 0, 0.75);
    box-shadow: inset 10px 10px 24px -6px rgba(0, 0, 0, 0.75);
}

#link1 {
    position: absolute;
    top: 34vh;
    left: 65vw;
}

#link2 {
    position: absolute;
    top: 34vh;
    left: 80vw;
}

/* ///////////// footer //////////// */

footer {
    height: 7vh;
    background-color: black;
    position: relative;
    top: 100vh;
    display: flex;
    align-items: center;
}

footer div {
    color: white;
    font-size: 1.4vw;
    margin-left: 2vw;
}

/* /////// animations //////// */

.movePicLeft {
    left: -34vw;
}

.moveTextLeft {
    left: 33vw;
}

.movePicRight {
    left: 68vw;
}

.moveTextRight {
    left: 1vw;
}

.boxShadow {
    -webkit-box-shadow: 9px 7px 12px -4px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 9px 7px 12px -4px rgba(0, 0, 0, 0.58);
    box-shadow: 9px 7px 12px -4px rgba(0, 0, 0, 0.58);
}

.typewriter {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: black;
    }
}

.inAndOut {
    -webkit-transition: left 1s ease-in-out;
    -moz-transition: left 1s ease-in-out;
    -o-transition: left 1s ease-in-out;
    transition: left 1s ease-in-out;
    /* -webkit-transition: visibility 1s ease-in-out;
    -moz-transition: visibility 1s ease-in-out;
    -o-transition: visibility 1s ease-in-out;
    transition: visibility 1s ease-in-out; */
}