body {
    margin: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-family: 'Raleway', sans-serif;
}

.headFont {
    /* font-family: 'Righteous', cursive; */
    font-weight: bold;
}

a {
    text-decoration: none;
    color: rgb(139, 103, 41);
    /* color: rgb(59, 94, 54); */
}

a:hover {
    color: rgb(139, 103, 41);
}

/* font-family: 'Convergence', sans-serif; */

/* /////// navigation /////// */

#header {
    position: fixed;
    top: 0px;
    height: 7vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 10;
}

#l1 {
    color: white;
    margin-left: 2vw;
    font-size: 1.7vw;
    cursor: pointer;
}

#l1:hover {
    color: rgb(200, 108, 74);
}

#linksHolder {
    margin-right: 2vw;
    display: flex;
    justify-content: space-between;
    width: 22vw;
}

#linksHolder p {
    color: white;
    text-decoration: none;
    font-size: 1.2vw;
    cursor: pointer;
}

#linksHolder p:hover {
    color: rgb(200, 108, 74);
}

#blackImg {
    position: absolute;
    top: 7vh;
    height: 93vh;
    width: 100vw;
    background: url("/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}

/* /////// about section /////// */

.aboutSection {
    height: 93vh;
    width: 100%;
    position: relative;
    top: 7vh;
    /* background-color: #f5f5f5; */
}

#profilePicHolder {
    position: absolute;
    top: 15vh;
    left: 13vw;
    width: 38vw;
    height: 44vh;
    /* height: 44.4vh; */
    overflow: hidden;
    border-radius: 20px;
    background-image: url("/myPic.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#aboutText {
    position: absolute;
    top: 5vh;
    right: 4vw;
    width: 47vw;
}

.aboutSection h3 {
    font-size: 12vw;
    color: white;
    position: absolute;
    top: 5vh;
    left: 54vw;
}

#aboutText p {
    font-size: 1.2vw;
    line-height: 140%;
    font-weight: 300;
}

/* /////////// stackSection ////////// */

#stackSection {
    position: relative;
    top: 7vh;
    height: 10vh;
}

.stackHeader {
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 14vh;
    text-align: center;
    vertical-align: middle;
    line-height: 14vh;
    font-size: 3vw;
    font-weight: 600;
}

#stackImgHolder {
    position: absolute;
    top: 36vh;
    left: 20vw;
    width: 60vw;
    height: 40vh;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

span img {
    max-width: 100%;
    max-height: 100%;
}

#stackImgHolder span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 1vh;
    height: 7vh;
    width: 7vw;
    margin: 0.5vw;
    animation: slide 0.5s forwards;
    /* -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.58); */
}

/* #stackImgHolder span:hover {
    -webkit-box-shadow: -1px 2px 10px 5px rgba(200, 108, 74, 0.58);
    -moz-box-shadow: -1px 2px 10px 5px rgba(200, 108, 74, 0.58);
    box-shadow: -1px 2px 10px 5px rgba(200, 108, 74, 0.58);
} */

/* ///////// projectsSection ///////// */

#header2 {
    top: 0vh;
}

.notVisible {
    display: none;
}

#mapAppSection {
    position: relative;
    top: 95vh;
    height: 125vh;
}

.projectImgHolder {
    width: 53vw;
    height: 58vh;
    position: absolute;
    top: 24vh;
    left: 23.5vw;
}

.projectImgHolder img {
    width: 100%;
    height: 100%;
}

.mapText {
    width: 53vw;
    height: 58vh;
    position: relative;
    top: 24vh;
    left: 23.5vw;
    /* background-color: rgba(156, 159, 180, 0.81); */
    background-color: rgba(183, 176, 162, 0.6);
    transition: zIndex 1s ease-in-out;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mapText p {
    font-weight: 300;
    font-size: 1.2vw;
}

#madeWith {
    position: absolute;
    top: 29vh;
}

#links {
    position: absolute;
    top: 21vh;
}

#smallText {
    font-size: 1vw;
    position: absolute;
    top: 41vh;
}

#mapDesc {
    width: 36vw;
    position: absolute;
    top: 10vh;
}

#mapAppSection h3 {
    font-size: 2vw;
    position: absolute;
    top: 13vh;
    left: 46vw;
    font-weight: 600;
}

.open {
    width: 8vw;
    height: 4vh;
    position: absolute;
    top: 85vh;
    left: 46vw;
    display: flex;
    font-size: 2vw;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    cursor: pointer;
}

.open:hover {
    -webkit-box-shadow: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    box-shadow: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
}

.clickedElement {
    font-size: 1.2vw;
    font-weight: 600;
}

.clickedElement:hover {
    color: rgb(139, 103, 41);
}

#socialSection {
    position: relative;
    top: 70vh;
    height: 100vh;
}

#imageSection {
    position: relative;
    top: 70vh;
    height: 100vh;
}

#nergySection {
    position: relative;
    top: 70vh;
    height: 100vh;
}

#contact {
    position: relative;
    top: 86vh;
    height: 70vh;
}

/* ///////////// contact //////////////// */

form {}

#header3 {
    top: 0vh;
}

#contact h4 {
    position: absolute;
    top: 12vh;
    left: 29vw;
    font-size: 1.6vw;
}

fieldset {
    position: relative;
    top: 24vh;
    width: 48vw;
    height: 28vh;
    left: 26vw;
    padding-top: 2vh;
    /* display: flex;
    flex-direction: column; */
}

fieldset label {
    font-size: 1.4vw;
    margin-left: 2vw;
    margin-bottom: 2.5vh;
}

fieldset input {
    /* margin-left: 2vw; */
    height: 3vh;
}

input::placeholder {
    font-size: 1vw;
    padding-left: .3vw;
}

textarea::placeholder {
    font-size: 1vw;
    padding-left: .3vw;
}

.button {
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    cursor: pointer;
    width: 8vw;
    height: 4vh;
    border-radius: 10px;
    margin-left: 20vw;
    font-size: 1.2vw;
    margin-top: 2vh;
    font-weight: 600;
}

.button:hover {
    color: rgb(139, 103, 41);
    -webkit-box-shadow: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    box-shadow: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
}

textarea {
    /* position: absolute;
    top: 15vh;
    left: 5vw; */
    width: 47.3vw;
    height: 15vh;
    margin-top: 1vh;
}

.linkTo {
    border-radius: 20px;
    padding: 1vh;
    height: 7vh;
    width: 8vw;
    margin: 0.5vw;
    overflow: hidden;
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
}

.linkTo:hover {
    -webkit-box-shadow: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
    box-shadow: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.58);
}

#link1 {
    position: absolute;
    top: 61vh;
    left: 37vw;
}

#link1 img {
    width: 100%;
    height: 100%;
}

#link2 img {
    width: 130%;
    height: 130%;
}

#link2 {
    position: absolute;
    top: 61vh;
    left: 53vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ///////////// footer //////////// */

footer {
    height: 13vh;
    background-color: black;
    position: relative;
    top: 100vh;
    display: flex;
    align-items: flex-end;
}

footer div {
    color: white;
    font-size: 1.2vw;
    margin-left: 2vw;
    margin-bottom: 2vh;
}

/* /////// animations //////// */

.movePicLeft {
    left: -23vw;
}

.moveTextLeft {
    left: 39vw;
}

.movePicRight {
    left: 70vw;
}

.moveTextRight {
    left: 8vw;
}

.boxShadow {
    -webkit-box-shadow: 5px 5px 8px -5px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 5px 5px 8px -5px rgba(0, 0, 0, 0.58);
    box-shadow: 5px 5px 8px -5px rgba(0, 0, 0, 0.58);
}

.typewriter {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0em;
    /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: black;
    }
}

.inAndOut {
    -webkit-transition: left 1s ease-in-out;
    -moz-transition: left 1s ease-in-out;
    -o-transition: left 1s ease-in-out;
    transition: left 1s ease-in-out;
    /* -webkit-transition: visibility 1s ease-in-out;
    -moz-transition: visibility 1s ease-in-out;
    -o-transition: visibility 1s ease-in-out;
    transition: visibility 1s ease-in-out; */
}

.CSS-animation {
    animation: bounceOutDown 3s infinite;
}

@keyframes slide {
    100% {
        left: 0;
    }
}

@keyframes bounceOutDown {
    50% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    60% {
        transform: translate3d(0, -20px, 0);
    }
    70% {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, 2000px, 0);
    }
}

.second-animation {
    animation-duration: 4.6s;
    animation-name: bounceOutRight;
}

@keyframes bounceOutRight {
    50% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(-20px, 0, 0);
    }
    to {
        opacity: 0;
        transform: translate3d(2000px, 0, 0);
    }
}